<td-layout>
  <td-layout-nav toolbarTitle="" navigationRoute="/" class="bodyFullWidth">
    <div td-toolbar-content>
      <!-- <mat-divider></mat-divider> -->
    </div>

    <div layout-gt-sm="row" layout-xs="column" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="60">

        <div layout="column">
          <div flex>First item in column</div>
          <div flex flex-offset-gt-sm="5" class="mainHeading">Münzverwaltung</div>
          <div flex flex-offset-gt-sm="10" class="mainHeading">leicht gemacht...</div>
          <div flex flex-offset-gt-sm="5" class="mainImageContainer">
            <img class="mainImage" src="http://placeholder.pics/svg/500x350/CCFF32-E663FF/8AFF5B-FF0018/test">
          </div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
          <div flex>Second item in column</div>
        </div>
      </div>
      <div flex-gt-sm="40">
        1232433
      </div>
    </div>
    <td-layout-footer color="primary">
      ... main footer content
    </td-layout-footer>
  </td-layout-nav>
</td-layout>
