<div>
    <span layout="row" layout-align="start center">
        <avatar [email]="this.email" [displayType]="this.layout" class="profileImageWrapper" [size]="'80'"></avatar>
    </span>
    <div class="mat-body-2">{{this.name}}</div>
    <div class="mat-body-1" layout="row" href>
        <button mat-button class="userEmail" aria-label="show profile menu" i18n-aria-label (click)="this.toggleProfileMenu.emit();">
            {{this.email}}
            <mat-icon *ngIf="!this.opened">arrow_drop_down</mat-icon>
            <mat-icon *ngIf="this.opened">arrow_drop_up</mat-icon>
        </button>
    </div>
</div>
