<div class="profile">
    <div class="profileImageWrapper">
        <i class="far fa-user fa-2x profileImage"></i>
    </div>
</div>
<td-expansion-panel #profilePanel label="Another label goes here" [expand]="this.visible" (expanded)="this.toggleProfileMenu.emit(this.profilePanel.expand)"
    (collapsed)="this.toggleProfileMenu.emit(this.profilePanel.expand)">
    <div class="md-padding">
        <h3 class="mat-subheading-2">md-padding class</h3>
        <div>Demo 5</div>
        <div>Demo 6</div>
        <div>Demo 7</div>
        <div>Demo 8</div>
    </div>
</td-expansion-panel>
