.profile {
    box-sizing: border-box;
}

// ng-deep um das parent element zu stylen, sollte mal verschoben werden aber zurzeit kommt das UI dann ziemlich durcheinander
::ng-deep .td-nagivation-drawer-toolbar {
    background: url('../../assets/profile/profilebackground3.png') no-repeat center;
    background-size: auto 100%;
}

.userEmail {
    padding-left: 0;
}
